.presentation-section{
    background: url("../Assets/Background-animation/Background-Anim.mp4") bottom;
    position: relative;
    background-size:  auto max(120%, 800px);
    min-height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 12rem 0;
    overflow: hidden;
}

.background-video{
    position: absolute;
    min-height: 100%;
    overflow: hidden;
    z-index: -1;
    top:-10px;
}

.can-over-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.h-Green{
    font-size: var(--h1);
    letter-spacing: min(.7rem,.7vw);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.365);
}

.pic-can{
    position: absolute;
}

.buy-now{
    font-size: 3rem;    
    padding: 1rem 2rem;
    background-color: var(--Primary-Lime);
}

.can{
    width: clamp(350px, 20vw + 25rem, 70vw);
    filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.388))
}


@media screen and (width < 700px) {
    .pic-can{
        top: 40%;
    }
    .h-Green{
        margin: 20% 0 120% 0;
        line-height: 100%;
    }

    .h-Taste{
        
        margin: 10% 0 60% 0 !important;
        line-height: 100%;
    }

    .presentation-section{
        padding: 12rem 0 12rem 0 !important;
    }
    .buy-now{
        margin: 100% 0 0 0;
    }
    .buy-now.purple{
        margin: 130% 0 0 0;
    }
}


svg{
    height: 1200px;
    left: 0;
    position: absolute;
}

.banner-section {
    position: relative;
    min-height: 100vh;
    background: #000000;
    background: linear-gradient(160deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 47%, rgba(105, 70, 145, 1) 81%, rgba(179, 119, 247, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px -100px 70px 0px black;
    padding: 5% 0;
}

.purple{
    background-color: var(--Secondary-Purple);
}

.side-halfcircle {
    position: absolute;
    top: 50%;
    left: -9rem;
    transform: translateY(-50%);
    font-size: 10em;
    overflow: visible;
    height: 60%;
    width: auto;
    z-index: 1;
}

.side-halfcircle text{
    fill: var(--Secondary-Purple);
}

.side-halfcircle path{
    filter: drop-shadow( 0px 0px 20px var(--Secondary-Purple));
}

.banner-content {
    z-index: 1;
    text-align: center;
    display: flex;
    margin-left: 30vw;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-content h1{
    margin-bottom: 80%;
    font-size: max(4vw + 10rem,2rem + 10vw);
}

@media screen and (width < 1600px){
    .side-halfcircle{
        display: none;
    }
    .banner-content{
        margin: 0;
    }
    .banner-content h1{
        margin-bottom: 50vh;
        font-size: 20vw;
    }

    .used-programs{
        flex-direction: column;
        width: max-content;
        padding: 4rem;
    }
}